body {
   margin: 0;
}
.icon-bar {
   background-color: #444444;
   overflow: auto;
   display:flex;
   flex-wrap: wrap;
   justify-content: space-around;
}
.icon-bar a {
   text-align: center;
   padding: 4px 5px;
   transition: all 0.3s ease;
   color: white;
   font-size: 15px;
   text-decoration: none;
}
.icon-bar a:hover {
   background-color: #6495ED;
}
.cor-fundo{
	background-color: silver;
}
.tela-inteira{
  min-height: 100vh;
  font-size: 20px;
  font-family: Calibri;
  background-color: #202124;
  text-decoration: none;
}
.textos{
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
	color: #FFFFFF;
	text-align: center;
	font-family: georgian;
}
.active {
   background-color: #003153;
}
